<h1 class="splashTtl">// Budged Flex</h1>
<div class="access">
<% if user_signed_in? %>
  <p>You are signed in</br><%= current_user.name %></p>
  <%= button_to 'Access', categories_path, method: :get, class:"signBtn splashBtn" %>
<% else %>
  <div class="btnsCol">
    <%= button_to "Log In", new_user_session_path, method: :get, class:"signBtn splashBtn" %>
    <%= button_to "Sign Up", new_user_registration_path, method: :get, class:"signBtn splashBtn" %>
  </div>
<% end %>
<div>
