<h1>Budged Flex</h1>
<% if user_signed_in? %>
  <p>You are signed in</br><%= current_user.name %></p>
  <%= button_to 'Access', categories_path, method: :get %>
<% else %>
  <%= button_to "Log In", new_user_session_path, method: :get %>
  <%= button_to "Sign Up", new_user_registration_path, method: :get %>
<% end %>
