@import "./variables";

.navbar {
  position: fixed;
  width: 100%;
  max-width: 420px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-color;
  color: $white-color;

  div {
    flex: 1;
  }
}

.fa-solid {
  margin-left: 10px;
}

.button_to {
  display: flex;
  flex-grow: 0;
}
